node_modules/cache
node_modules/client
node_modules/core
node_modules/dal
node_modules/enums
node_modules/interserver_communication
node_modules/multimedia
node_modules/strings
backend/node_modules
node_modules
backend/node_modules/cache
backend/node_modules/client
backend/node_modules/core
backend/node_modules/dal
backend/node_modules/enums
backend/node_modules/interserver_communication
backend/node_modules/multimedia
backend/node_modules/strings