.member-previews{
	padding:5px;
	padding-left:3px;
	padding-right:3px;
	width:100%;
	box-sizing:border-box;
	  -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
	  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
	  -ms-flex: 1;           /* IE 10 */
	  flex: 1;     
	overflow-y:auto;
}
.member-previews .member-preview{ 
box-sizing:border-box;
	border:2px solid rgb(197, 68, 62);
	border-radius:2px;
	background-color:rgb(44, 43, 43);
    font-family: verdana, geneva, sans-serif;
	color:#8ab7b1;
	margin-bottom:6px;
	padding:3px;
	word-wrap:break-word;
    word-break: keep-all; 
	white-space: pre-wrap;
	width:100%;
	display:inline-block;
}
.member-previews .member-preview .name-and-age{ 
text-decoration:underline;
color:#d6ecea;
}
.member-previews .member-preview .name-and-age:hover{
color:#eeeeee;
cursor:pointer;
}
.member-previews .member-preview .formatted-address{ 
    font-family: verdana, geneva, sans-serif;
    color: #8ab7b1;
    font-size: 14px;
}
.member-previews .member-preview .headline{ 
    font-family: verdana, geneva, sans-serif;
	color:rgb(222, 157, 154);
    font-size: 14px;
	font-weight:bold;
}
.member-previews .member-preview .text-block.last-online{ 
    font-family: verdana, geneva, sans-serif;
	color:rgb(206, 173, 177);
    font-size: 12px;
}
.member-previews .member-preview .text-block.last-online.now{
	color:rgb(197, 255, 193);
}
.member-previews .member-preview .text-block.last-online.recently{
	color:rgb(197, 255, 244);
}
.member-previews .member-preview .profile-picture{
	height:100px;
	width:100px;
	float:left;
	position:relative;
	display:inline-block;
	margin-right:3px;
	box-sizing:border-box;
	border:1px solid #364440;
}
.member-previews .member-preview .profile-picture .img{
	height:100%;
	width:100%;
}